/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
database/migrations/2014_10_12_000000_create_users_table.php
database/migrations/2014_10_12_100000_create_password_resets_table.php
database/migrations/2019_09_15_051737_create_admins_table.php
database/migrations/2019_09_15_051737_create_likes_table.php
database/migrations/2019_09_15_051737_create_password_resets_table.php
database/migrations/2019_09_15_051737_create_shops_table.php
database/migrations/2019_09_15_051738_add_foreign_keys_to_likes_table.php
database/migrations/2019_10_14_200740_add_column_to_users_table.php
database/migrations/2019_10_14_210126_rename_commnet_to_comment_on_users_table.php
database/2019_10_21_170341_create_reviews_table.php
database/2019_11_22_123448_add_foreign_key.php
database/2019_11_20_175327_create_tags_table.php
database/2019_11_22_133206_add_foreign_key_to_tags.php
database/2019_11_20_175422_create_shop_tag_table.php
database/2019_11_23_095820_create_shop_tag_table.php.php
database/2019_11_22_122518_add_foreign_key.php
